.white_wave_bottom {
  background: #3abadf;
  height: 200px;
}

.picture {
  background: url(../../img/WhiteWave.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -1px;
  height: 100%;
  width: 100%;
  transform: rotate(-180deg);
}

@media only screen and (max-width: 600px) {
  .picture {
    background-position: center;
  }
}
