.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3rem;
}

.hol_color {
  color: #3abadf;
}

/* Katrs Grida Elements */
.about > div {
  border-radius: 15px;
  margin: 1rem 5rem;
  z-index: 10;
}

/* Laipni lūgti HOL */
.about_text {
  padding: 2rem 0rem;
}

.about_items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}

.about_text h1 {
  font-size: 32px;
  border-bottom: 2px solid #3abadf;
  padding-bottom: 1rem;
}

.about_item {
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 1rem 0;
  margin: auto;
}

.about_item i {
  color: #3abadf;
  font-size: 32px;
  padding: 5px;
}

.about_item:first-of-type {
  padding-top: 2rem;
}

.item_text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.item_text span {
  color: #3abadf;
  font-weight: 600;
}

div .hol_picture {
  background: url(../../img/About1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  transition: all 0.1s ease-in;
}

div .hol_picture:hover {
  transform: rotate(2deg);
  box-shadow: 0px 7px 5px gray;
}

.brunch {
  border: none;
}

@media only screen and (max-width: 950px) {
  .about {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  #about {
    padding: 0;
  }

  /* House of Light Texta sadalījums ar iconam */
  .about_item {
    grid-template-columns: 20% auto;
  }

  /* HOL teksta size */
  .item_text {
    font-size: 16px;
  }

  .about_item i {
    font-size: 38px;
  }

  .about > div {
    margin: 2rem;
    border: none;
    box-shadow: none;
  }

  div .hol_picture {
    min-width: 80%;
    height: 30vh;
  }
}
