.about {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 60% auto;
  margin: 0 auto;
}

.hol_color {
  color: #3abadf;
}

/* Laipni lūgti HOL */
.about_text {
  padding: 2rem 0rem;
  margin: 1rem 2rem;
  z-index: 10;
}

.about_items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about_text h1 {
  font-size: 32px;
  border-bottom: 2px solid #3abadf;
  padding-bottom: 1rem;
}

.about_item {
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 1rem 0;
  margin: 0;
}

.about_item i {
  color: #3abadf;
  font-size: 32px;
  padding: 5px;
}

.about_item:first-of-type {
  padding-top: 2rem;
}

.item_text p {
  font-size: 17px;
  line-height: 23px;
  font-weight: 500;
}

div .hol_picture {
  /* background: url(../../img/About1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  margin: 1rem;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

div .hol_picture svg {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
  /* border-radius: 25px; */
  transition: all 0.1s ease-in;
}

#lights {
  animation: light 1.5s ease-in-out infinite alternate;
}

#wine {
  animation: wines 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wines {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(35deg);
  }
}

@keyframes light {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(5%);
  }
}

/* div .hol_picture img:hover {
  transform: rotate(2deg);
  box-shadow: 0px 7px 5px gray;
} */

.brunch {
  border: none;
}

@media only screen and (max-width: 1050px) {
  .about {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  #about {
    padding: 0;
  }

  .about_text h1 {
    font-size: 28px;
  }

  /* House of Light Texta sadalījums ar iconam */
  .about_item {
    grid-template-columns: 10% auto;
  }

  /* HOL teksta size */
  .item_text p {
    font-size: 14px;
  }

  .about_item i {
    font-size: 38px;
  }

  .about > div {
    margin: 2rem;
    border: none;
    box-shadow: none;
  }

  div .hol_picture svg {
    min-height: 0;
    height: 100%;
    object-fit: cover;
    max-width: 400px;
  }
}

@media only screen and (max-width: 650px) {
  .about_item {
    grid-template-columns: 20% auto;
  }
}
