.white_wave {
  width: 100%;
  height: 200px;
  margin-bottom: -2rem;
}

@media only screen and (max-width: 1050px) {
  .white_wave {
    top: 90vh;
  }
}
@media only screen and (max-width: 500px) {
  .white_wave {
    top: 94vh;
    height: 150px;
  }
}
