/* Reserve */

.reserve {
  /* min-height: 100vh; */
  padding: 2rem;
  margin: 3rem 15rem;
}

.reserve_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation_form {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 500px;
}

.reserve h2 {
  text-align: center;
  margin: 2rem 10rem;
  padding-bottom: 2rem;
  font-size: 42px;
  width: 50%;
  border-bottom: 2px solid #3abadf;
}

/* .reserve form label {
  padding-bottom: 10px;
  font-weight: 600;
  padding-left: 1rem;
}

.reserve form input,
.reserve form textarea {
  border: none;
  border-bottom: 1px solid white;
  font-size: 16px;
  padding: 7px;
  margin-bottom: 1rem;
  padding-left: 1rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
  border-bottom: 1px solid #3abadf;
}

.reserve form textarea {
  border: 1px solid #3abadf;
  padding: 10px;
  border-radius: 5px;
  height: 80px;
}

.reserve form input:focus,
.reserve form textarea:focus {
  outline: none;
  background: rgba(58, 186, 223, 0.05);
  width: 100%;
} */

.reserve button {
  cursor: pointer;
  border: none;
  color: white;
  width: 400px;
  font-size: 24px;
  padding: 1rem;
  font-weight: 600;
  background: #3abadf;
  border-radius: 25px;
  transition: all 0.2s ease-in;
  align-self: center;
  margin-top: 1rem;
}

.reserve button:focus {
  outline: none;
}

.reserve button:hover {
  background: whitesmoke;
  color: #3abadf;
}

.phone_number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.phone_plus {
  font-size: 18px;
  margin-right: 3px;
}

#phone {
  margin-bottom: 0;
  margin-top: 0;
}

@media only screen and (max-width: 1050px) {
  .reservation_form {
    max-width: 100vw;
    min-width: 0;
  }

  /* .reserve form input,
  .reserve form textarea {
    margin: 0.5rem 0rem;
    border-bottom: 1px solid #3abadf;
    padding: 0.5rem 1rem;
    font-size: 14px;
    background-color: white;
  }

  .reserve form textarea {
    border: 1px solid #3abadf;
    border-radius: 5px;
  }

  .reserve form label {
    margin-top: 16px;
  } */

  .reserve {
    margin: 0;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }

  .reserve h2 {
    width: 100%;
    font-size: 36px;
  }

  .reserve button {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 20px;
  }
}
