.bankets {
  width: 100%;
  max-width: 1200px;
  margin: 8rem auto 6rem;
  padding: 0 2rem;

}

.bankets_grid {
  display: grid;
  grid-template-columns: 40% auto;
}
.image {
  width: 100%;
}

.image img {
  width: 100%;
  max-height: 550px;
  object-fit: cover;
  border-radius: 25px;
  transition: all 0.1s ease-in;
}

.image img:hover {
  transform: rotate(2deg);
  box-shadow: 0px 7px 5px gray;
}

/* Visa teksta puse */
.about_bankets {
  display: flex;
  padding: 2rem 4rem;
  padding-right: 0;
  flex-direction: column;
}

/* Lielais virsrakts */
.bankets_title h2 {
  font-size: 42px;
  font-weight: 600;
  border-bottom: 2px solid #3abadf;
  padding-bottom: 1rem;
}

/* Banketa Zilais apaksvirsraksts */
.bankets_subtitle h3 {
  font-size: 28px;
  color: #3abadf;
  font-weight: 600;
  padding: 2rem 0;
}

/* Banketa uzskaites punkti */
.bankets_items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/* Katrs no banketa uzskaites punktiem */
.bankets_item {
  display: grid;
  grid-template-columns: 14% auto;
  margin-bottom: 1rem;
}

.bankets_item .fas {
  color: #3abadf;
  font-size: 32px;
  padding: 5px;
}

.bankets_text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.bankets_text a {
  text-decoration: underline;
  color: #3abadf;
  font-weight: 600;
}

@media only screen and (max-width: 1050px) {
  .bankets {
    /* margin: 2rem;
    margin-top: 5rem; */
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 0;
  }

  .bankets_grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .about_bankets {
    padding-left: 0;
  }

  .image img {
    width: 100%;
    min-height: 0;
    max-height: 280px;
    object-position: 0 75%;
  }

  .bankets_title h2 {
    font-size: 32px;
  }

  .bankets_subtitle h3 {
    font-size: 28px;
  }

  .bankets_item {
    padding-bottom: 2rem;
    grid-template-columns: 10% auto;
  }

  .banekts_item .fas {
    padding: 6px;
  }

  .bankets_text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 650px) {
  .bankets_item {
    grid-template-columns: 20% auto;
  }
}
