.bankets {
  margin: 3rem 8rem;
}

.bankets_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8rem;
}

.image img {
  width: 100%;
  min-height: 70vh;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 25px;
}

/* Visa teksta puse */
.about_bankets {
  display: flex;
  flex-direction: column;
}

/* Lielais virsrakts */
.bankets_title {
  font-size: 42px;
  font-weight: 600;
  border-bottom: 2px solid #3abadf;
  padding-bottom: 1rem;
}

/* Banketa Zilais apaksvirsraksts */
.bankets_subtitle {
  font-size: 36px;
  color: #3abadf;
  font-weight: 600;
  padding: 2rem 0;
}

/* Banketa uzskaites punkti */
.bankets_items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/* Katrs no banketa uzskaites punktiem */
.bankets_item {
  display: grid;
  grid-template-columns: 15% 85%;
}

.bankets_item .fas {
  color: #3abadf;
  font-size: 32px;
}

.bankets_text {
  font-size: 18px;
  font-weight: 500;
}

.bankets_text a {
  text-decoration: underline;
  color: #3abadf;
  font-weight: 600;
}

@media only screen and (max-width: 950px) {
  .bankets {
    margin: 2rem;
    margin-top: 4rem;
  }

  .bankets_grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .image img {
    min-height: 0;
    height: 30vh;
  }

  .bankets_title {
    font-size: 32px;
  }

  .bankets_subtitle {
    font-size: 28px;
  }

  .bankets_item {
    padding-bottom: 2rem;
    grid-template-columns: 20% 80%;
  }

  .banekts_item .fas {
    padding: 6px;
  }

  .bankets_text {
    font-size: 14px;
    line-height: 24px;
  }
}

/* .keiterings {
  min-height: 100vh;
}

.keiterings_grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  margin: 0rem 5rem;
  padding: 1rem 2rem;
  font-weight: 500;
}

.party {
  background: url(../../img/Keiterings.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90%;
  border-radius: 25px;
  margin: 1rem;
}

.keiterings_title {
  font-size: 42px;
  text-align: center;
  border-bottom: 2px solid #3abadf;
  padding: 1rem;
  font-weight: 600;
  align-self: center;
}

.keitering_text {
  margin: 0rem 2rem;
  height: 100%;
  display: grid;
  grid-template-rows: 20% 15% 65%;
}

.keit {
  height: 100%;
  font-size: 32px;
  color: #3abadf;
  font-weight: 600;
  margin-top: 1rem;
}

.keit_title {
  display: flex;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.keit_items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0;
}

.keit_item {
  display: grid;
  grid-template-columns: 15% 85%;
}

.keit_item i {
  color: #3abadf;
  padding: 5px;
  font-size: 36px;
}

.item_text {
  font-size: 18px;
  color: black;
  align-self: center;
}

.blue {
  color: #3abadf;
}

@media only screen and (max-width: 950px) {
  .keiterings {
    min-height: 100%;
  }

  .keiterings_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 25% 75%;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
  }

  .party {
    margin: 0 2rem;
    padding: 1rem;
    width: auto;
    max-height: 90%;
  }

  .keiterings_title {
    border-bottom: 2px solid #3abadf !important;
    font-size: 36px;
    text-align: left;
  }

  .keiterings_grid div {
    border: none;
    box-shadow: none;
  }

  .item_text {
    font-size: 14px;
  }

  .keit_title {
    font-size: 28px;
    text-align: left;
  }

  .keit_item i {
    font-size: 32px;
  }

  .keit_items {
    margin-top: 2rem;
  }

  .keitering_text {
    grid-template-rows: 25% 20% 90%;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 950px) {
  .keiterings {
    min-height: 100%;
    margin-top: 3rem;
    padding: 0rem 0rem;
    padding-top: 1rem;
  }
  .keit_item {
    display: grid;
    grid-template-columns: 20% 80%;
    padding-bottom: 1rem;
  }
} */
