.social_media {
  position: fixed;
  right: 0;
  z-index: 24;
  top: 45vh;
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  justify-content: center;
  align-items: center;
}

.social_media a {
  cursor: pointer;
  color: #3abadf;
  font-size: 36px;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1050px) {
  .social_media {
    position: absolute;
    top: 32vh;
    right: -2px;
  }
}
