.social_media {
  position: fixed;
  right: 0;
  z-index: 10;
  top: 50vh;
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.social_media i {
  color: #3abadf;
  font-size: 36px;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .social_media {
    position: absolute;
    top: 35vh;
  }
}
