.footer {
  height: 60vh;
  background: #3abadf;
  display: flex;
  justify-content: space-around;
  padding: 5rem 4rem;
  padding-top: 10rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact_item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 250px;
}

.contact_item i {
  color: white;
  font-size: 32px;
}

.contact_item a,
.phone {
  text-decoration: none;
  color: white;
  padding-left: 1rem;
  font-weight: 500;
  font-size: 18px;
  flex: 1;
}

.contact_item a:hover {
  text-decoration: underline;
}

.working_title {
  color: white;
  z-index: 2;
}

.working_hours {
  display: flex;
  color: white;
  justify-content: space-evenly;
  flex-direction: column;
}

.day {
  display: flex;
  color: white;
  align-items: center;
}

.day h3 {
  margin: 0;
}

.day h4 {
  padding-left: 1rem;
  font-size: 18px;
}

.rights {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    height: 70vh;
    padding-top: 2rem;
  }

  .contact {
    margin-top: 5rem;
  }

  .contact_item i {
    font-size: 24px;
  }

  .contact_item a,
  .phone {
    font-size: 14px;
    padding: 1rem;
  }

  .working_hours {
    margin-top: 1rem;
  }

  .working_hours > div {
    padding: 0.5rem 0;
  }

  .working_title {
    font-size: 16px;
    color: white;
  }

  .day {
    margin-bottom: 2rem;
  }
}
