.footer {
  height: 60vh;
  background: #3abadf;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 5rem 4rem;
  padding-top: 10rem;
}

.contact {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact_item {
  color: #3abadf;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  padding: 0.4rem 0.6rem;
  border-radius: 25px;
  background: white;
}

.contact_item i {
  width: 30px;
  color: #3abadf;
  font-size: 32px;
}

.contact_item a,
.phone {
  color: #3abadf;
  text-decoration: none;
  padding-left: 1rem;
  font-weight: 500;
  font-size: 16px;
}

.contact_item a:hover {
  text-decoration: underline;
}

.working_title {
  color: white;
  z-index: 2;
}

.working_hours {
  display: flex;
  width: 50%;
  color: white;
  justify-content: space-evenly;
  flex-direction: column;
}

.day {
  display: flex;
  color: white;
  align-items: center;
}

.day h4 {
  margin: 0;
}

.day h5 {
  padding-left: 1rem;
  font-size: 18px;
}

.rights {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    height: 85vh;
    padding-top: 2rem;
  }

  .contact {
    margin-top: 5rem;
    width: 100%;
  }

  .contact_item {
    width: 100%;
    padding: 0.6rem;
    margin: 1rem auto 0 auto;
  }

  .contact_item i {
    font-size: 24px;
  }

  .contact_item a,
  .phone {
    font-size: 14px;
  }

  .working_hours {
    margin-top: 1rem;
    width: 100%;
  }

  .working_hours > div {
    padding: 0.5rem 0;
  }

  .working_title {
    font-size: 16px;
    color: white;
  }

  .day {
    margin-bottom: 2rem;
  }
}
