.brunch_about {
  padding-top: 2rem;
}

.brunch {
  background: rgba(255, 0, 0, 0.151);
}

.about_title_brunch {
  font-size: 32px;
  border-bottom: 2px solid #3abadf;
  padding-bottom: 1rem;
}

.brunch {
  margin: 1rem 0rem;
  padding: 2rem 5rem;
}

@media only screen and (max-width: 1050px) {
  .brunch {
    border: none;
    border-radius: 0;
    margin: 0;
    margin-top: 3rem;
    padding: 2rem;
  }

  .brunch_about {
    font-size: 14px;
  }
}
