.brunchBehind {
  background: #3abadf;
  position: relative;
}

.brunch {
  max-width: 1200px;
  width: 100%;
  background: #3abbdf;
  color: white;
  position: relative;
  padding: 2rem 0;
  margin: 0 auto 5rem;
}

.about_title_brunch {
  font-size: 42px;
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
}

.brunchBehind::before {
  content: '';
  background: #3abadf;
  position: absolute;
  width: 100%;
  left: 0;
  top: -45px;
  height: 46px;
  clip-path: polygon(0 78%, 100% 0, 100% 100%, 0% 100%);
}

.brunchBehind::after {
  content: '';
  background: #3abadf;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -45px;
  height: 46px;
  clip-path: polygon(0 0, 100% 0, 100% 22%, 0 100%);
}

.brunch_container {
  display: flex;
  padding-top: 2rem;
  max-height: 610px;
}

.brunch_about {
  color: #000000;
  flex: 4;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 25px;
  background: white;
  padding: 1rem 1rem;
}

.brunch_about > p {
  line-height: 28px;
}

.brunch_img {
  object-fit: cover;
  border-radius: 25px;
  object-position: bottom;
  height: 100%;
}

.brunch_list {
  flex: 2;
}

.brunch_about ul {
  margin: 1rem 0;
}

.brunch_about ul li {
  display: flex;
  margin-bottom: 1rem;
  list-style-type: none;
  font-weight: 700;
}

.brunch_about ul li p {
  padding-left: 1rem;
}

.brunch_i {
  color: #3abadf;
  font-size: 24px;
}

.brunch_button {
  text-decoration: none;
  margin: auto;
  margin-top: 1rem;
  color: black;
  font-weight: 600;
  padding: 0.75rem 2rem;
  background-color: #3abadf;
  border-radius: 25px;
  font-size: 22px;
  transition: all 0.1s ease-out;
  border: none;
  cursor: pointer;
}

.brunch_button:hover {
  background: rgba(58, 186, 223, 0.15);
  color: #3abadf;
}

.brunch_button:focus {
  outline: none;
}

.brunch_title2 {
  border-bottom: 2px solid #3abadf;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 1050px) {
  .brunch {
    border: none;
    border-radius: 0;
    margin: 0;
    margin-top: 3rem;
    padding: 2rem;
  }

  .about_title_brunch {
    font-size: 32px;
  }

  .brunch_container {
    flex-direction: column;
    max-height: none;
  }

  .brunch_about {
    margin: 0;
    margin-bottom: 2rem;
  }

  .brunch_about > p {
    line-height: 24px;
    margin-bottom: 2rem;
  }

  .brunch_img {
    max-height: 300px;
  }

  .brunch_about ul {
    width: 100%;
  }

  .brunch_about {
    font-size: 14px;
  }

  .brunch_button {
    padding: 1rem 1.5rem;
    font-size: 16px;
  }
}
